@{
    ViewBag.Title = "Home Page";
}
<br clear="all"/>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 well text-center">
        <i class="fas fa-clipboard-list fa-5x" style="color:#ccc"></i>
        <h4>Novo Pedido</h4>
        <p><a class="btn btn-primary" href="@Url.Action("Pedido","Financeiro")">Criar pedido &raquo;</a></p>
    </div>
    <div class="col-md-5 well text-center">
        <i class="fas fa-chart-line fa-5x" style="color:#ccc"></i>
        <h4>Resumo de Vendas</h4>
        <p><a class="btn btn-info" href="javascript:;">Veja &raquo;</a></p>
    </div>
    <div class="col-md-1"></div>
</div>